.title {
    display: flex;
    background-color: darkslategray;
    color: white;
    justify-content: center;
    padding: 5%;
}

.outcome {
    display: flex;
    background-color: lightslategray;
    color: white;
    justify-content: center;
    padding: 2%;
}

button {
    display: flex;
    justify-self: center;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
}